apiVersion: v1
kind: Service
metadata:
  name: auxiliary-service
  namespace: auxiliary-service
  labels:
    app: auxiliary-service
spec:
  type: ClusterIP
  selector:
    app: auxiliary-service
  ports:
  - name: http
    port: 80
    targetPort: 3001
    protocol: TCP